<!DOCTYPE html>
<html lang="en" ng-app="studentManager">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My student list</title>
    <meta name="description" content="">

    <!--load highchart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    <link rel="stylesheet" href="app.css">
    <script src="lib/angular/angular.js"></script>

    <script src="app.module.js"></script>
    <script src="my-chart/my-chart.module.js"></script>
    <script src="my-chart/my-chart.component.js"></script>
    <script src="student-list/student-list.module.js"></script>
    <script src="student-list/student-list.component.js"></script>
</head>
<body ng-controller="studentManagerController">

<div class="container">

    <div class="row">

        <div class="col-md-4" ng-show="showGraph">
            <div>
                <div style="font-size: 20px; border-bottom: 1px solid #D9D9D9">
                    Visualization
                    <button class="far fa-minus-square" ng-click="toggleShowGraph()"></button>
                </div>

                <div>
                    <my-donut-chart></my-donut-chart>
                </div>

            </div>
        </div>

        <div class="col-1" ng-show="!showGraph">

            <div>
                <button class="far fa-plus-square" ng-click="toggleShowGraph()">

                </button>
            </div>
            <div id="vertical-para">
                <p id="para">CHART</p>
            </div>
        </div>

        <div class="col-md">

            <student-list></student-list>

        </div>
    </div>

</div>

<button ng-click="consoleLo()">console</button>
</body>
</html>
